.main-table{
  margin: auto;
  font-family: "Segoe UI",Arial,sans-serif;
  width: 70%;
  height: 70vh;
  border-collapse: collapse;
}
.main-table th{
  padding:4px;
}

.main-table, .main-table td, tr, th {
  border: 1px solid black;
}

.first-column {
  width: 20%;
  padding-top: 30px;
}

.first-column__content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
